<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <link href="/static/screen.css" rel="stylesheet" type="text/css"> 
    <!--<link href="/static/print.css" rel="stylesheet" type="text/css"> -->
<!--[if lt IE 8]>
    <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" 
    media="screen, projection">
<![endif]-->
    <link href="http://fonts.googleapis.com/css?family=Vollkorn&subset=latin" 
          rel="stylesheet" type="text/css"> 
  <title>MattDeBoard.net</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
<div class="container">
  <div class="span-24 last" id="header">
    <a href="http://mattdeboard.net">Matt DeBoard</a>
  </div><!-- #header -->

  <div class="span-24" id="menu">
    <a href="http://mattdeboard.net/projects/">projects</a>
    <a href="http://twitter.com/#%21/matt_deboard" target="_blank">twitter</a>
    <a href="https://github.com/mattdeboard" target="_blank">github</a>
    <a href="http://mattdeboard.tumblr.com" target="_blank">tumblr archives</a>
    <a href="http://mattdeboard.net/feed.atom" target="_blank">rss feed</a>
  </div><!-- #menu -->


	<div class="span-24" id="content">
    {% block body %}{% endblock %}
    </div><!-- #content -->

<div class="span-24 last" id="footer"></div>
<div class="span-24 last" id="disqus_thread"></div>

      {% if source_filename %}
        {% if source_filename.split('/')[0].isdigit() %}
          <script type="text/javascript">
            var disqus_shortname = 'mattdeboard';

            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}
      {% endif %}

</div><!-- .container -->
    </body>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-12348858-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</html>
