body {
	margin: 0;
	padding: 0;
}

#main {
        position: absolute;
	left: 50%;
	width: 800px;
	margin-left: -400px;
}

#header {
	width:100%;
	height:80px;
	clear: both;
	border-bottom: solid 4px #000000;
}

#menu {
	width:100%;
	height: 35px;
        float:left;
	clear: both;
	background-color: #f0f0f0;
}

#content{
	width: 550px;
	float: left;
	padding-top: 20px;
}

#side{
	width: 250px;
	height: 500px;
	float: right;
	background-color: #f0f0f0;
}

#footer{
	width: 100%;
	float: left;
	clear: both;
	text-align: center;
	background-color: #F0F0F0;
        border-top: solid 4px #000000;

}

ul {
	color: #575757;
	font: 14px 'Vollkorn', 'Georgia', serif;
	list-style: #575757
	list-style-type: square;
}

/*header*/
.header a {
        font: bold 30px 'Vollkorn', 'Georgia', serif;
        line-height: 120px;
	text-decoration: none;
}

/*menu*/
.menu a { 
	color: #575757;
	font: bold 21px 'Vollkorn', 'Georgia', serif;
	letter-spacing: -1px;
	text-decoration: none;
}


/*content text*/
#main {
	font: 20px 'Vollkorn', 'Georgia', serif;
	letter-spacing: 1px;
}

/*side*/
.side a {
	color: #575757;
	font: 14px 'Vollkorn', 'Georgia', serif;
}
	
/*content header*/
h1{
        font: bold 30px 'Rock Salt', 'Georgia', serif;
}

h2 {
	font: bold 25px 'Rock Salt', 'Georgia', serif;
}

/*content links*/
a {
        color: #575757;
	font: 20px 'Vollkorn', 'Georgia', serif;
}

/*main*/
.tags {
	font: 14px 'Vollkorn', 'Georgia', serif;
}

/*footer*/
.foot {
	color: #6E6E6E;
	line-spacing: 2px;
	font: italic 14px 'Vollkorn', 'Georgia', serif;
}
