#header {
	border-bottom: solid 4px #000000;
}

#header a {
    font-family: 'Helvetica Neue', Helvetica, Arial, serf;
    font-size: 50px;
    font-style: bold;
}

#menu {
	height: 35px;
    float:left;
	clear: both;
	background-color: #f0f0f0;
}

#content{
	float: left;
	padding-top: 20px;
}

#footer{
	float: left;
	clear: both;
	text-align: center;
	background-color: #F0F0F0;
    border-top: solid 4px #000000;

}

ul {
	color: #575757;
	font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 14px;
    font-style: italic;
	list-style: #575757;
	list-style-type: square;
}

li a:hover {
    color: #24b200;
    border-bottom: 1px dotted;
}
    
/*header*/
.header a {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-style: bold;
    line-height: 120px;
	text-decoration: none;
}

/*menu*/
#menu a { 
	color: #575757;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-style: bold;
	text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

#menu a:hover {
    color: #24b200;
    border-bottom: 1px dotted;
}

/*entries*/
#entry {
    font: 16px Times New Roman;
}

#entry .date {
    font-style: italic;
    font-size: 14px;
}

#entry a {
    color: #24b200;
    border-bottom: 1px dotted;
}

#entry a:hover {
    color: #99FE80;
    border-bottom: 1px solid;
}

#entry h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-style: bold;
}

#entry h3 {
    font-size: 1.3em;
    margin-bottom: .5em;
    font-style: italic;
}

/*entry title*/
h1.title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-style: bold;
    padding-bottom: 10px;
}

/*content text*/
#main {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
	letter-spacing: 1px;
}

.detail a {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
	letter-spacing: 1px;
    color: #0C7500;
}

.detail a:hover {
    color: #99FE80;
    border-bottom: 1px dotted;
}

.detail a:visited {
    color: #24B200;
}

.detail .summary {
    font-family: Times New Roman, Garamond, serif;
    font-size: 18px;
}

/*side*/
.side a {
	color: #575757;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}
	
/*main*/
.tags {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
}

tt {
    font-size: 14px;
    color: #4070a0;
}

/*pygments style*/
.highlight { background-color: #ececec; font-size: 14px }
.hll { background-color: #ffffcc }
.c { color: #60a0b0; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #007020; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.cp { color: #007020 } /* Comment.Preproc */
.c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #808080 } /* Generic.Output */
.gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0040D0 } /* Generic.Traceback */
.kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.kp { color: #007020 } /* Keyword.Pseudo */
.kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.kt { color: #902000 } /* Keyword.Type */
.m { color: #40a070 } /* Literal.Number */
.s { color: #4070a0 } /* Literal.String */
.na { color: #4070a0 } /* Name.Attribute */
.nb { color: #007020 } /* Name.Builtin */
.nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.no { color: #60add5 } /* Name.Constant */
.nd { color: #555555; font-weight: bold } /* Name.Decorator */
.ni { color: #d55537; font-weight: bold } /* Name.Entity */
.ne { color: #007020 } /* Name.Exception */
.nf { color: #06287e } /* Name.Function */
.nl { color: #002070; font-weight: bold } /* Name.Label */
.nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.nt { color: #062873; font-weight: bold } /* Name.Tag */
.nv { color: #bb60d5 } /* Name.Variable */
.ow { color: #007020; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #40a070 } /* Literal.Number.Float */
.mh { color: #40a070 } /* Literal.Number.Hex */
.mi { color: #40a070 } /* Literal.Number.Integer */
.mo { color: #40a070 } /* Literal.Number.Oct */
.sb { color: #4070a0 } /* Literal.String.Backtick */
.sc { color: #4070a0 } /* Literal.String.Char */
.sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.s2 { color: #4070a0 } /* Literal.String.Double */
.se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.sh { color: #4070a0 } /* Literal.String.Heredoc */
.si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.sx { color: #c65d09 } /* Literal.String.Other */
.sr { color: #235388 } /* Literal.String.Regex */
.s1 { color: #4070a0 } /* Literal.String.Single */
.ss { color: #517918 } /* Literal.String.Symbol */
.bp { color: #007020 } /* Name.Builtin.Pseudo */
.vc { color: #bb60d5 } /* Name.Variable.Class */
.vg { color: #bb60d5 } /* Name.Variable.Global */
.vi { color: #bb60d5 } /* Name.Variable.Instance */
.il { color: #40a070 } /* Literal.Number.Integer.Long */